In [1]:
%pip install "pymongo[srv]"

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pymongo[srv] in c:\users\aswat\anaconda3\lib\site-packages (4.13.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\aswat\anaconda3\lib\site-packages (from pymongo[srv]) (2.7.0)

WARNING: pymongo 4.13.2 does not provide the extra 'srv'

In [3]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [18]:
import urllib.parse
username = urllib.parse.quote_plus("aswathipp17")
password = urllib.parse.quote_plus("Arowathi@175")
uri = f"mongodb+srv://{username}:{password}@cluster0.6m9fvck.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [19]:
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

c:\Users\aswat\anaconda3\Lib\site-packages\pymongo\pyopenssl_context.py:352: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280. Loading this certificate will cause an exception in the next release of cryptography.
  _crypto.X509.from_cryptography(x509.load_der_x509_certificate(cert))

Pinged your deployment. You successfully connected to MongoDB!

In [20]:
client.list_database_names()

['datasciences', 'sample_mflix', 'admin', 'local']

In [21]:
db = client.datascience_batch_1_dummy

In [22]:
db.list_collection_names()

[]

In [10]:
collection = db.test_1_review

# SELECT

In [21]:
# db = datascience_batch_1_dummy
# table = test_1_review
# # SELECT * FROM test_1_review;


for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873de6f3f2764c157da2bce'), 'name': 'Monal'}
{'_id': ObjectId('6873de943f2764c157da2bcf'), 'name': 'Monal_2', 'phone_no': '99999'}
{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [41]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [22]:
query = {
    "category" : "smartphone"
}

for i in collection.find(query):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [24]:
query = {
    "category" : "smartphone",
    "price" : {"$gt" : 0}
}

for i in collection.find(query):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

# INSERT

In [20]:
new_product = {
    "name" : "samsung tab 4",
    "category" : "tablet",
    "price" : 800.100,
    "features" : ["display-oled", "2-camera"],
    "manufacturer" : {
        "name" : "xyz tech",
        "country" : "china"
    }
}

result = collection.insert_one(new_product)
print(f"Inserted document ID : {result.inserted_id}")

Inserted document ID : 6873e4d9035d5cd885dee547

# DELETE

In [28]:
query = {
    "name" : "Monal",
}

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 1 documents.

In [38]:
query = {
    "name" : {"$regex" : "monal", "$options" : "i"}
}

# regex --> regular expression
# $option : i --> case-insensetive

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 1 documents.

In [40]:
query = {
    "name" : {"$regex" : "pixel", "$options" : "i"}
}

# regex --> regular expression
# $option : i --> case-insensetive

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 2 documents.

# UPDATE

In [42]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [43]:
query_filter = {
    "name" : {"$regex" : "16", "$options" : "i"}
}

update_operation = {
    "$set" : {
        "category" : "smartphone_latest"
    }
}

result = collection.update_many(query_filter, update_operation)

print(f"Matched {result.matched_count} documents and modified {result.modified_count} documents.")

Matched 2 documents and modified 2 documents.

In [44]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone_latest', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone_latest', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}